{% extends 'base/base.html' %}{% load  static %}{% block title %}{{ title }}{% endblock %}
{% block second_content %}
<div class="container" >
	<div class="row">
		<div class="col-lg-8 col-md-8 ">
			<div class="content">
				<!--
				div class="second-block">
				<div class="top-part"> 
					<div class="second-block">
						<div class="btn-group second-block-child-div col-lg-8 col-md-8 col-sm-6 col-xs-12" role="group" aria-label="...">
  							<a href="{% url 'forum:las-posts' %}" class="btn btn-default">Новые</a>
  							<a href="{% url 'forum:most-liked' %}" class="btn btn-default">Популярное</a>
  							<a href="{% url 'forum:answered' %}" class="btn btn-default">Неотвеченные</a>
  							<a href="{% url 'forum:hot-posts' %}" class="btn btn-default">Горячее</a>
  							
						</div>
						<div class="all_posts-p2"><a href="{% url 'forum:create_post' %}" class="btn btn-lg btn-danger ">Спросить</a></div>
					</div>
					</div>
				</div>
			-->	
				<div class="">
					<div style="position: relative;">
						<div class="second-block">
						<div class="btn-group second-block-child-div " role="group" aria-label="...">
  							<a style="font-size: 1.4em" href="{% url 'forum:las-posts' %}" class="btn btn-default">Новые</a>
  							<a style="font-size: 1.4em" href="{% url 'forum:most-liked' %}" class="btn btn-default">Популярное</a>
  							<a style="font-size: 1.4em" href="{% url 'forum:answered' %}" class="btn btn-default">Неотвеченные</a>
  							<a style="font-size: 1.4em" href="{% url 'forum:hot-posts' %}" class="btn btn-default">Горячее</a>
  							
						</div>
					</div>
					</div>
				</div>
				<div class="middle-part">
					<div class="middle-part-p1">Вопросы</div>
					<div class="posts">
						{% for post in posts %}
						<div class="post">
							<div class="post-upper-part">
								<div class="post-upper-flex">
									<div class="right-wrong">{% if post.right_answer %}
										<img width="40" src="{% static 'img/galochka.png' %}">{% else %}<img width="40" src="{% static 'img/No.png' %}">
									{% endif %}</div>
									<div class="post-topic">
										<a href="{% url 'forum:detail' post.pk post.slug %}" class="post-topic-a"> {{ post.title|linebreaks|slice:":100" }}</a>
										<div class="posts-text">{{ post.content|linebreaks|slice:":130" }}...</div>
										<div class="flex">
											<div style="flex: 1 auto">
												<div class="tags">
													<div class="tag"><a class="tag-a" href="{% url 'forum:subject' post.subject.slug %}">{{ post.subject }}</a></div>
													<div class="tag"><a class="tag-a" href="{% url 'forum:grade' post.grade.slug %}">{{ post.grade }}</a></div>
												</div>
												<div class="post-low-part">
													<div class="post-likes">
														<i class="far fa-heart"> <span class="post-likes-count">{{ post.likes.count }}</span></i>
													</div>
													<div class="post-comments">
														<i class="far fa-comments"> <span class="post-comments-count">{{ post.answers }}</span></i>
													</div>
											</div>
											</div>
											<div class="right-part">
												<div class="user-container">
													<div class="flex">
														<div class="asked-created-at">{{ post.timestamp|timesince }} назад</div>
													</div>
													<div class="flex">
														{% if post.user.userprofile.image %}
														<div class="user-container-top-left"><img width="46" height="46" style="object-fit: cover"  src="{{ post.user.userprofile.image.url}}"></div>
														{% else %}
														<div class="user-container-top-left"><img width="46"  src="{% static 'img/no-photo.png' %}"></div>
														{% endif %}
														<div class="user-container-top-right">
															<div ><a href="#">{{ post.user.username }}</a></div>
															<div>Рейтинг: {{ post.user.userprofile.reputation }}</div>
														</div>
													</div>	
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="low-part-pagination">
						<div class="pagination">
						{% if posts.has_previous %}
							<a class="pagination_first_page" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-double-left"></i></a>
							<a class="pagination_previous_page" href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-left"></i></a>
						{% endif  %}
						{% for num in posts.paginator.page_range %}
							{% if posts.number == num %}
								<a class="num_page_on" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
							{% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
								<a class="num_page" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
							{% endif %}
						{% endfor %}
						{% if posts.has_next %}
							<a class="pagination_next_page" href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-right"></i></a>
							<a class="pagination_last_page" href="?page={{ posts.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fas fa-angle-double-right"></i></a>
						{% endif  %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-9">
			<div id="sidebar">
				<div class="subjects">
					<div class="subject-parent"><i class="fas fa-graduation-cap"></i> <span class="subject-parent-h1">Предмет</span></div>
					<div class="subject-child">
						<ul compact="subject-ul">
							{% for subject in all_subjects %}
							<li class="subject-li"> <img class="img-meme" src="{{ subject.sub_img.url }}"><a class="subject-a" href="{% url 'forum:subject' subject.slug %}">{{ subject }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div class="subjects">
					<div class="subject-parent"><i class="fas fa-gem"></i> <span class="subject-parent-h1">Класс</span></div>
					<div class="subject-child">
						<ul compact="subject-ul">
							{% for grade in grades %}
							<li class="subject-li"><img  class="img-meme" src="{{ grade.grade_img.url }}"> <a class="subject-a" href="{% url 'forum:grade' grade.slug %}">{{ grade }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div class="subjects">
					<div class="subject-parent"><i class="fas fa-users"></i> <span class="subject-parent-h1">Другое</span></div>
					<div class="subject-child">
						<ul compact="subject-ul">	
							<li class="subject-li"> <img  class="img-meme" src="{% static 'icons/other/top_users.png' %}"> <a class="subject-a" href="">Топ пользователи</a></li>
							<li class="subject-li"> <img  class="img-meme" src="{% static 'icons/other/about_us.png' %}"> <a class="subject-a" href="">О нас</a></li>
							<li class="subject-li"> <img  class="img-meme" src="{% static 'icons/other/new_user.png' %}"> <a class="subject-a" href="">Гайд по сайту</a></li>
							<li class="subject-li"> <img  class="img-meme" src="{% static 'icons/other/help.png' %}"> <a class="subject-a" href="">Помощь</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container-fluid">
		<div class="container">
			<div class="row" style="border-bottom: 2px #F4f4f4 solid">
				<div class="upper-footer">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
						<div class="footer-colona">
							<div class="footer-upper-part">Accounts</div>
							<div class="footer-content-part">
								<ul class="footer-ul-part">
									<li class="footer-li-part"><a class="footer-a-part" href="#">Edit Profile</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">New Users</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Login</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Register</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Profile</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
						<div class="footer-colona">
							<div class="footer-upper-part">Forum</div>
							<div class="footer-content-part">
								<ul class="footer-ul-part">
									<li class="footer-li-part"><a class="footer-a-part" href="#">New Posts</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Ask Question</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Top Posts</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Week Posts</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="footer-colona">
							<div class="footer-upper-part">Other</div>
							<div class="footer-content-part">
								<ul class="footer-ul-part">
									<li class="footer-li-part"><a class="footer-a-part" href="#">Top Users</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">About us</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Help</a></li>
									<li class="footer-li-part"><a class="footer-a-part" href="#">Guidebook</a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
					<div class="social-icons">
						<div class="icon-osn"> Media: </div>
						<div class="icon"><a class="icon-a icon-a-instagram" href=""><i class="fab fa-instagram"></i></a></div>
						<div class="icon"><a class="icon-a icon-a-facebook" href=""><i class="fab fa-facebook-square"></i></a></div>
						<div class="icon"><a class="icon-a icon-a-youtube" href=""><i class="fab fa-youtube"></i></a></div>
						<div class="icon"><a class="icon-a icon-a-twitter" href=""><i class="fab fa-twitter-square"></i></a></div>
					</div>
				</div>
		</div>
	</div>
</div>
{% endblock %}